label {
  margin: 0;
}

.action-panel {
  width: 100%;
  display: grid;
  gap: 50px;
}

.alert {
  color: red;
  justify-content: center;
  display: flex;
  font-weight: 700;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}


.action-panel form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
}